<% layout('layouts/boilerplate.ejs') %>

    <div class="row">
        <h1 class="text-center">New Campground</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds" method='POST'>
                <div class="mb-3">
                    <label class="form-label text-muted" for="title">Title</label>
                    <input class="form-control" type="text" name="campground[title]" id="title">
                </div>
                <div class="mb-3">
                    <label class="form-label text-muted" for="location">Location</label>
                    <input class="form-control" type="text" name="campground[location]" id="location">
                </div>
                <div class="mb-3">
                    <label class="form-label text-muted" for="image">Image Url</label>
                    <input class="form-control" type="text" name="campground[image]" id="image">
                </div>
                <div class="mb-3">
                    <label class="form-label text-muted" for="price">Campground Price</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id='price-label'>R</span>
                        <input type="text" class="form-control" name="campground[price]" placeholder="0" id="price"
                            aria-label="Amount (to the nearest dollar)">
                        <span class="input-group-text">.00</span>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label text-muted" for="description">Description</label>
                    <textarea class="form-control" type="text" name="campground[description]"
                        id="description"></textarea>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">Add Camp</button>
                </div>

            </form>
            <div class="mb-3">
                <a class="btn btn-danger" href="/campgrounds">Cancel</a>
            </div>

        </div>
    </div>