<% layout('layouts/boilerplate') %>
<div class="container mb-5">
	<div class="row d-flex justify-content-center">
		<div class="card shadow col-sm-4 px-0 bg-dark">
			<img
				class="card-img-top"
				src="https://images.unsplash.com/photo-1516503424803-708327384b90?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fG1hcHN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
				alt=""
			/>
			<div class="card-body">
				<h5 class="card-title">Register</h5>
				<form
					class="validated-form"
					action="/register"
					method="POST"
					novalidate
				>
					<div class="mb-3">
						<label class="form-label text-muted" for="username">Username</label>
						<input
						placeholder="username"
							class="form-control bg-dark"
							type="text"
							name="username"
							id="username"
							required
						/>
						<div class="invalid-feedback">Field cannot be empty</div>
						<div class="mb-3">
							<label class="form-label text-muted" for="email">E-mail</label>
							<input
							placeholder='e-mail'
								class="form-control bg-dark"
								type="email"
								name="email"
								id="email"
								required
							/>
							<div class="invalid-feedback">Field cannot be empty</div>
							<div class="mb-3">
								<label class="form-label text-muted" for="password"
									>Password</label
								>
								<input
									placeholder="Please enter a password between 10 and 25 characters long"
									class="form-control bg-dark"
									type="password"
									name="password"
									id="password"
									minlength="10"
									maxlength="25"
									required
								/>
								<div class="invalid-feedback">
									Please provide a suitable password
								</div>
								<div class="mb-0 d-grid gap-2">
									<button class="btn btn-lg btn-success btn-block mt-3">
										Register
									</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
